<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
    <body>
        <h2>
            <p th:text="${person.getFullName() + ', ' + person.getYearOfBirth()}">VALUE</p>
            <p th:text="${person.getId()}">VALUE</p>
        </h2>
        <hr>
        <form style="margin-bottom: 15px" th:method="GET" th:action="@{/people/__${person.getId()}__/edit}">
            <input type="submit" value="edit!">
        </form>
        <form th:method="DELETE" th:action="@{/people/{id}(id=${person.getId()})}">
            <input type="submit" value="delete!">
        </form>
    </body>
</html>